.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-color: #212121;
  --accent-color: #2196F3;
  --subtitle-colour: #757575;
  --hero-title: #FFFFFF;
  --color-section: #2F303A;
  --color-section2: #F5F4FA;
  --footer:rgba(255, 255, 255, 0.6);
  --btn-focus: #188CE8;
  --background-btn-port: #F5F4FA;
  --border-cont: #EEEEEE;
  --soc-link: #AFB1B8;
  --hero-bg-col: #C4C4C4;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul, p {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clost-icon:hover,
.modal-clost-icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: transparent;
  transition: background-color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  margin-left: 12px;
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-label-text,
.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-comment {
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
}
.modal-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: flex;
  font-size: 14px;
  color: var(--subtitle-colour);
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--subtitle-colour);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--hero-title);
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.check-cont {
  color: var(--accent-color);
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-underline-offset: 12%;
}

.form-checkbox {
  padding-top: 20px;
}

.label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-colour);
}

.send-button {
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  color: var(--hero-title);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover, .send-button:focus {
  background-color: var(--btn-focus);
}

.btn-mobile {
  margin-left: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn-mobile {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .btn-mobile {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 40px 10px;
}
.mob-menu > .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .mob-menu > .container {
    height: 100%;
  }
}
@media screen and (min-width: 480px) {
  .mob-menu {
    padding: 48px 40px;
  }
}

.menu-close-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 1px;
  right: 16px;
  display: block;
  margin-left: 0;
}
@media screen and (min-width: 480px) {
  .menu-close-btn {
    top: 9px;
    right: 16px;
  }
}

.mob-menu__list {
  margin-bottom: 50px;
}

.mob-menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 25px;
}
@media screen and (min-width: 480px) {
  .mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-connect {
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .mob-connect {
    margin-bottom: 64px;
  }
}

.mob-connect__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-connect__tel:hover, .mob-connect__tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-connect__tel {
    font-size: 34px;
  }
}

.mob-connect__link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--subtitle-colour);
  padding-top: 32px;
}
.mob-connect__link:hover, .mob-connect__link:focus {
  color: var(--accent-color);
}

.mob__soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob__soc-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob__soc-link:hover, .mob__soc-link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob__soc-link {
    font-size: 18px;
  }
}

.mob__soc-line::before {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
  height: 1px;
  width: 22px;
  margin-right: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--hero-title);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-section {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  max-width: 1600px;
  background-color: var(--hero-bg-col);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--hero-title);
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.81;
  letter-spacing: 0.06em;
  color: var(--hero-title);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-text:hover, .hero-btn-text:focus {
  background-color: var(--btn-focus);
}

.btn--large {
  min-width: 216px;
}

.section-advantages {
  padding-top: 94px;
  padding-bottom: 47px;
}

.advantages__list {
  display: flex;
  gap: 30px;
}

.advantages__icon {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-colour);
}

.example {
  padding-top: 47px;
  padding-bottom: 94px;
}

.example-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.example-item {
  display: flex;
  gap: 30px;
}

.section-link {
  position: relative;
}

.image-text {
  position: absolute;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  bottom: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--hero-title);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: var(--color-section2);
}

.team-list {
  background-color: var(--hero-title);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.team-item {
  display: flex;
  gap: 30px;
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--subtitle-colour);
  text-align: center;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-title);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--soc-link);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--hero-title);
}

.team-soc-icon {
  fill: currentColor;
}

.team-list-content {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.client-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: var(--hero-title);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.subject {
  background-color: var(--hero-title);
}

.subject {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subject-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  color: var(--main-color);
  background-color: var(--background-btn-port);
  cursor: pointer;
  padding: 6px 25px;
  transition-property: box-shadow, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subject-btn:hover, .subject-btn:focus {
  color: var(--hero-title);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subject-item {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 8px;
  justify-content: center;
}

.projects-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-content {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--border-cont);
  padding-left: 24px;
  background-color: var(--hero-title);
  border-left: 1px solid var(--border-cont);
  border-right: 1px solid var(--border-cont);
  border-bottom: 1px solid var(--border-cont);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  text-decoration: none;
  margin-bottom: 4px;
}

.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--subtitle-colour);
}

.project-top-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--hero-title);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 64px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list:hover .project-top-text {
  transform: translateY(0);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: var(--color-section);
  display: flex;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hero-title);
}

.logo_text--blue {
  color: var(--accent-color);
}

.footer-nav {
  display: block;
}

.footer-address {
  color: var(--footer);
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--hero-title);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map:hover, .footer-map:focus {
  color: var(--accent-color);
}

.footer-mail {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel:hover, .footer-tel:focus {
  color: var(--accent-color);
}

.footer-text {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title);
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc {
  margin-left: 70px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc {
  align-items: baseline;
  margin-top: 0;
  margin-right: auto;
  margin-left: 93px;
}

.footer-soc-title {
  color: var(--hero-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscription {
  display: flex;
}

.form-email {
  width: 358px;
  padding: 15px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  background-color: var(--color-section);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-btn {
  display: flex;
  width: 200px;
  cursor: pointer;
  color: var(--hero-title);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding: 10px 10px 10px 28px;
  border-color: transparent;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover, .footer-btn:focus {
  background-color: var(--btn-focus);
}

.footer-icons {
  color: var(--primary-white-color);
  margin-left: 10px;
}

.page-header {
  border-bottom: 1px solid var(--border-cont);
}

.page-header__logo {
  font-family: "Raleway", suns-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

@media screen and (min-width: 480px) {
  .page-header__logo {
    padding: 16px 0px;
  }
}

.logo__text--black {
  color: var(--accent-color);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 90px;
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.site-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-contacts {
    display: flex;
    flex-direction: column;
  }
}

.site-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__site-contacts {
  margin-left: auto;
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  text-decoration: none;
  color: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: -1px;
  border-radius: 2px;
}

.site-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-colour);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-color);
}

.site-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-colour);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-color);
}

.site-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */