.page-header {
    border-bottom: 1px solid var(--border-cont);

}
.page-header> .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header__logo{
    font-family: 'Raleway', suns-serif;
    @include font(700, 26px, 1.19, 0.03em);
    color: var(--main-color);
    padding-top: 24px;
    padding-bottom: 25px;
}
.page-header__logo{
    @include mobile{
        padding: 16px 0;
}
}
   
.logo__text--black {
    color: var(--accent-color);
}
.site-nav {
    display: none;
    @include tablet {
      margin-left: 90px;
      display: flex;
      gap: 50px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: #212121;
   }
  }
.page-header__navigation{
   display: flex; 
   align-items: center;
}
.page-header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.site-contacts {
    display: none;

    @include tablet {
       display: flex;
       flex-direction: column;
    }
 }
    
 .site-contacts{
    @include tablet {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--subtitle-colour);
        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function:
        cubic-bezier(0.4, 0, 0.2, 1);}
        @include desktop {
            flex-direction: row;
            font-size: 14px;
            line-height: 1.14;
            gap: 30px;
         }
      }

.site-nav__link{
    position: relative;
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--main-color);
    padding: 32px 0;
    display: flex;
    text-decoration: none;
    color: currentColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: var(--accent-color);
}
}
 .site-nav__link--current{
    color: var(--accent-color);
    }
    
    .site-nav__link--current::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    bottom: -1px;
    border-radius: 2px; 
}
    .site-contacts__link{
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--subtitle-colour);
    display: flex;
    gap: 10px;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.site-contacts__link{
    @include tablet{
        font-size: 12px;
    }
    @include desktop{
        font-size: 14px;
    }
}
.site-contacts__mail{
    @include tablet{
        fill: currentColor;
       width: 14px;
       height: 10px;
    }
}
.site-contacts__tel{
    @include tablet{
        fill: currentColor;
       width: 10px;
       height: 14px;
    }
}
.site-contacts__mail{
    fill: currentColor;
    @include desktop {
       fill: currentColor;
       width: 16px;
       height: 12px;
    }
}

.site-contacts__tel{
    fill: currentColor;
    @include desktop {
       fill: currentColor;
       width: 10px;
       height: 16px;
    }
}



