.example {
    padding-top: 47px;
    padding-bottom: 94px;
    @media screen and (max-width: 1199px) {
        display: none;
}}
.example-headline {
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
    color: var(--main-color);
    margin-bottom: 50px;
}
.example-item{
    display: flex;
    gap: 30px;
}
 .section-link{
    position: relative;
 }
 .image-text{
    position: absolute;
    width: 370px;
    height: 70px ;
    @include font(700, 14px, 16px, 0.03em);
    text-align: center;
    bottom: 0;
    right: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--hero-title);
 }