.section-advantages {
    padding: 60px 0 60px 0;

    @include desktop {
       padding: 94px 0 94px 0;
    }
}
.advantages__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.advantages__item{
    width: 100%;
    @include tablet {
        width: calc((100% - 30px) / 2);
     }
     @include desktop {
        width: calc((100% - 90px) / 4);
     }
}
.advantages__icon{
    height: 120px;
    background: #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__subtitle {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
    text-align: center;
    @include tablet {
        text-align: left;
     }
    @include desktop{
        text-align: left;
     }
}

.advantages__text {
    @include font(null, 14px, 1.71, 0.03em);
    color: var(--subtitle-colour);

}