.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
   }
   .hero-section{
       margin: 0 auto;
       text-align: center;
       align-items: center;
       max-width: 1600px;
       background-color: var(--hero-bg-col);
       text-align: center;
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       height: 400px;
       background-image:var(--hero-bg-grad),
       url(.././image/header-img-mob.jpg);
       @include retina{
        background-image:var(--hero-bg-grad),
       url(.././image/header-img-mob-2Ñ….jpg);
       }
       @include tablet{
        background-image:var(--hero-bg-grad),
        url(.././image/header-img-tab.jpg);
        height: 400px;
        @include retina{ 
            background-image: var(--hero-bg-grad),
            url(.././image/header-img-tab-2x.jpg);
        }
       }
       @include desktop{
        background-image:var(--hero-bg-grad),
        url(.././image/header-img-desktop.jpg);
        height: 600px;
        @include retina{
            background-image:var(--hero-bg-grad),
            url(../../image/header-img-desktop-2x.jpg);
        }
       }
   }
   
   .hero__title{
       @include font(900, 44px, 1.36, 0.06em);
       color: var(--hero-title);
       text-transform: uppercase;
       width: 696px;
       margin: 0 auto;
       
   @include mobile {
    width: 360px;
    font-size: 26px;
 }

@include desktop {
 width: 696px;
 font-size: 44px;
 line-height: 1.36;
}
     
   }
   .hero-btn-text{
       font-family: inherit;
       @include font(700, 16px, 1.81, 0.06em);
       color: var(--hero-title);
       background-color: var(--accent-color);
       cursor: pointer;
       border-radius: 4px;
       border-color: transparent;
       margin-top: 30px;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
       transition-property: background-color;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       &:hover,
       &:focus{
        background-color: var(--btn-focus);
    }
        @include mobile {
            font-size: 16px;
            width: 200px;
            height: 50px;
         }
      
         @include desktop {
            font-size: 16px;
            width: 216px;
         }
    }
    
   
   
   .hero-section{
    @include mobile{
        padding-top: 118px;
    padding-bottom: 118px;
    }
    @include tablet{
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @include desktop{
        padding-top: 200px;
        padding-bottom: 200px;
    }
   }