.team {
    padding: 60px 0 60px 0;
   
   @include desktop {
      padding: 94px 0 94px 0;
   }

}
.team-item{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team{
    background-color: var(--color-section2);
}
.team-list{
    background-color: var(--hero-title);
    width: 450px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
   @include tablet {
    width: calc((100% - 30px) / 2);
 }

 @include desktop {
    width: calc((100% - 90px) / 4);
 }
}
.team-title {
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
    color: var(--main-color);
    margin-bottom: 50px;
    @include desktop {
        margin-bottom: 50px;
        font-size: 36px;
     }
}
.team-item{
    display: flex;
    gap: 30px;
}

.team-list-content{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-subtitle {
    @include font(500, 16px, 1.18, 0.03em);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 10px;
}
.team-text {
    @include font(null, 16px, 1.18, 0.03em);
    color: var(--subtitle-colour);
    text-align: center;
    margin-bottom: 16px;
}
.team-soc-list{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.team-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--hero-title);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--soc-link);
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--hero-title);
    }
}
.team-soc-icon{
    fill: currentColor;
}
.team-list-content{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

