:root{
    --main-color: #212121;
    --accent-color: #2196F3;
    --subtitle-colour: #757575;
    --hero-title: #FFFFFF;
    --color-section: #2F303A;
    --color-section2: #F5F4FA;
    --footer:rgba(255, 255, 255, 0.6);
    --btn-focus: #188CE8;
    --background-btn-port: #F5F4FA;
    --border-cont: #EEEEEE;
    --soc-link: #AFB1B8;
    --hero-bg-col:  #C4C4C4;
   }
